<!DOCTYPE html>
<html ng-app = "fuzzy">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Fuzzy Multi-Criteria Method of Group Decision Making</title>
  <!-- Latest compiled and minified CSS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src = "/js/bootbox.min.js"></script>
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel|Exo+2|Inconsolata|Indie+Flower|Josefin+Sans|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
<style type="text/css">
	#table{
		font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v14/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	#problems{
		font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v14/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	#enter{
		font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v14/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}
	
</style>
</head>
<body ng-controller = "ProblemsController as pc">
<nav id = "navigation" class="black" role="navigation">
    <div class="nav-wrapper container">
      
      <ul class="center hide-on-med-and-down">
        <a id="logo-container" href="#" class="brand-logo center"><span class="white-text text-darken-2 flow-text">Fuzzy Multi-Criteria of Group Decision Making</span></a>
      </ul>
      <ul class="center hide-on-med-and-up">
        <a id="logo-container" href="#" class="brand-logo center"><span class="white-text text-darken-2 flow-text">F.M.C.G.D.M.</span></a>
      </ul>
      
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" onclick="how()"><span class="black-text text-darken-2">How it works ?</span></a></li>
        <li><a href="https://github.com/gonzalowtf.html" target="_blank"><span class="black-text text-darken-2" >My Github</span></a></li>
        <li><a href="https://www.facebook.com/gonzalo.jordan" target="_blank"><span class="black-text text-darken-2" >My Facebook</span></a></li>
        <li><a href="https://twitter.com/gonzalowtf" target="_blank"><span class="black-text text-darken-2" >My Twitter</span></a></li>
         <li><a href="https://plus.google.com/u/0/103476303156632915572" target="_blank"><span class="black-text text-darken-2" >My Google +</span></a></li>
         <li><a href="https://www.instagram.com/gonzalojordan9/ target="_blank"><span class="black-text text-darken-2" >My Instagram</span></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      
    </div>
  </nav>
   <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
      <div class="row"></div>
      <div class="container col s12 white">
      	<div class="row">
        <div class="col s3"></div>
        <div class="col s6">
      	<div class="card-panel teal lighten-1 flow-text white-text z-depth-3 animated bounce"><center><span id="problems">Problems</span></center></div>
          </div>
      	</div>

      	<div class="row">
      		<ul class="collection collapsible collapsible-accordion popout" data-collapsible ="accordion">
        
<li class="bold" ng-repeat = "problem in problemss">

   <a class="collapsible-header  waves-effect waves-teal"><i class="small material-icons">label</i>{{problem.name}} </a>
             <div class="collapsible-body">
                <ul>
                <li><center><a class="btn-floating btn-small black waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped" data-tooltip ="Edit Problem" data-position="right" data-target = "editProblemModal" ng-submit = "selectedProblem()" onclick="editProblemOpen()">mode_edit</i></a>
                        <a class="btn-floating btn-small black waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped" data-tooltip="Delete Problem" data-position = "right">delete</i></a></center></li>
                  <li><center>
                  <a class="waves-effect waves-teal" ng-click= "table = 1">
                  <i class="material-icons">perm_identity</i>Decisors({{problem.nd}})</a></center>
                  </li>
                  <center><li>
                  <a class="waves-effect waves-teal" ng-click= "table = 2">
                  <i class="material-icons">library_books</i>
                  Criterias({{problem.nc}})</a>
                  </li></center>
                  <center><li>
                  <a class="waves-effect waves-teal" ng-click= "table = 3">
                  <i class="material-icons">spellcheck</i>
                  Alternatives({{problem.na}})</a></li></center>
                  <center><li>
                  <a class="waves-effect waves-teal" ng-click= "table = 4">
                  <i class="material-icons">clear_all</i>
                  Results</a></li></center>
                </ul>
                <div class="panel" ng-show = "table == 1">
                  
                  <table class ="responsive-table highlight green lighten-1 z-depth-2 bordered animated fadeIn">
                    <thead>
                      <tr>
                          <th><span class = "black-text text-darken-2">Name</span></th>
                          <th><span class = "black-text text-darken-2">Rating</span></th>
                          <th><span class = "black-text text-darken-2">Fuzzy Value</span></th>
                          <th><a class="btn-floating btn-small teal darken-2 waves-effect waves-light"><i class="small material-icons modal-trigger tooltipped" data-tooltip="Add New" data-position="right" data-target= "addDecisorModal">add</i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "decisor in problem.decisors">
                       <td>{{decisor.name +" "+decisor.surname}}</td>
                        <td>{{decisor.fuzzyRating}}</td>
                        <td>({{decisor.fuzzyValue1}},{{decisor.fuzzyValue2}},{{decisor.fuzzyValue3}})</td>
                        <td><a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped " data-tooltip ="Edit Item" data-position="right" data-target = "editDecisorModal" onclick="editDecisorOpen()">mode_edit</i></a>
                        <a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped" data-tooltip="Delete Item" data-position = "right" data-target="eraseDecisorModal" onclick="eraseDecisorOpen()">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel" ng-show = "table == 2">
                  <table class ="responsive-table highlight blue lighten-1 z-depth-2 bordered animated fadeIn">
                    <thead>
                      <tr>
                          <th><span class = "black-text text-darken-2">Name</span></th>
                          <th><span class = "black-text text-darken-2">Rating</span></th>
                          <th><span class = "black-text text-darken-2">Fuzzy Value</span></th>
                          <th><a class="btn-floating btn-small teal darken-2 waves-effect waves-light"><i class="small material-icons modal-trigger tooltipped" data-tooltip="Add New" data-position="right" data-target= "modal4">add</i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "criteria in problem.criterias">
                        <td>{{criteria.name}}</td>
                        <td>{{criteria.fuzzyRating}}</td>
                        <td>({{criteria.fuzzyValue1}},{{criteria.fuzzyValue2}},{{criteria.fuzzyValue3}})</td>
                        <td><a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped " data-tooltip ="Edit Item" data-position="right" data-target = "modal3" >mode_edit</i></a>
                        <a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped" data-tooltip="Delete Item" data-position = "right" data-target="modal2" >delete</i>
                        </td>
                    </tbody>
                  </table>
                </div>
                <div class="panel" ng-show = "table == 3">
                  <table class ="responsive-table highlight yellow lighten-1 z-depth-2 bordered animated fadeIn">
                    <thead>
                      <tr>
                          <th><span class = "black-text text-darken-2">Name</span></th>
                          <th><span class = "black-text text-darken-2">Rating</span></th>
                          <th><span class = "black-text text-darken-2">Fuzzy Value</span></th>
                          <th><a class="btn-floating btn-small teal darken-2 waves-effect waves-light"><i class="small material-icons modal-trigger tooltipped" data-tooltip="Add New" data-position="right" data-target= "modal4">add</i></th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "alternative in problem.alternatives">
                        <td>{{alternative.name}}</td>
                        <td>{{alternative.fuzzyRating}}</td>
                        <td>({{alternative.fuzzyValue1}},{{alternative.fuzzyValue2}},{{alternative.fuzzyValue3}})</td>
                       <td><a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped " data-tooltip ="Edit Item" data-position="right" data-target = "modal3" >mode_edit</i></a>
                        <a class="btn-floating btn-small red waves-effect waves-light"><i class="large material-icons modal-trigger tooltipped" data-tooltip="Delete Item" data-position = "right" data-target="modal2" >delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel" ng-show = "table == 4">
                  <center><h2><span class = "flow-text orange-text text-lighten-2 animated fadeInRight">Here will be the results</span></h2></center>
                </div>
              </div>
              
              </li>
         
            </ul>

            </div>  
          
      	</div>        
      	</div>
      	
      	
	
      	<div class="row">
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating red btn tooltipped" data-position="top" data-delay="50" data-tooltip="Results"><i class="material-icons">clear_all</i></a></li>
      <li><a class="btn-floating yellow darken-1 btn tooltipped" data-position="top" data-delay="50" data-tooltip="Alternatives"><i class="material-icons">spellcheck</i></a></li>
      <li><a class="btn-floating blue darken-1 btn tooltipped" data-position="top" data-delay="50" data-tooltip="Criterias"><i class="material-icons">library_books</i></a></li>
      <li><a class="btn-floating green btn tooltipped" data-position="top" data-delay="50" data-tooltip="Decisors"><i class="material-icons">perm_identity</i></a></li>
      <li><a class="btn-floating teal btn tooltipped modal-trigger" data-target = "newProblemModal" data-position="top" data-delay="50" data-tooltip="Add New Problem"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
      </div>
  </div>
</div>
   <!-- Modal Structure -->
  <div id="newProblemModal" class="modal">
    <div class="modal-content">
      <center><h4>Enter a New Problem</h4></center>
      <form class="col s12" name = "NPform" ng-controller ="NewProblem as np" ng-submit = "np.newP()">
           <div class="row">
              <div class="input-field col s12">
                <input id="first_name" type="text" class="validate" ng-model = "np.review.name" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Problem Name</label>
              </div>

              <center><span class = "grey-text text-lighten-1">problem name must have no spaces</span></center>
            </div>
            <div class="row">
            <div class="col s12">
            <center><label> <span class = "teal-text text-darken-2">Decisors</span></label>
               <div class="chip light-blue lighten-4" id= "showD" >{{np.review.nd}}</div></center>
               <p class="range-field">
                <input type="range" id="decisorsQ" min="1" max="30" ng-model = "np.review.nd" required></input>
              </p>
            </div>
            </div>
            <div class="row">
            <div class="col s12">
            <center><label> <span class = "teal-text text-darken-2">Criterias</span></label>
               <div class="chip light-blue lighten-4" id= "showC" >{{np.review.nc}}</div></center>
               <p class="range-field">
                <input type="range" id="criteriasQ" min="1" max="30"  ng-model = "np.review.nc" required></input>
              </p>
            </div>
            </div>
            <div class="row">
            <div class="col s12">
            <center><label> <span class = "teal-text text-darken-2">Alternatives</span></label>
               <div class="chip light-blue lighten-4" id= "showA" >{{np.review.na}}</div></center>
               <p class="range-field">
                <input type="range" id="alternativesQ" min="1" max="100" ng-model = "np.review.na" required></input>
              </p>
            </div> 
            </div> 
                <div class="row">
              <center><button class="btn waves-effect waves-light " type="submit" value="Submit" name="action" >add
            <i class="material-icons right">send</i>
            </button></center>
            </div>
           </form>
    </div>
</div>
<!-- Modal Trigger -->
<!-- Modal Structure -->
<div id="addDecisorModal" class="modal">
    <div class="modal-content">
      <center><h4>Add Decisor</h4></center>
      <form class="col s12" name = "NewItemForm">
           <div class="row">
              <div class="input-field col s6">
                <input id="item_name" type="text" class="validate" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Decisor Name</label>
              </div>
              <div class="input-field col s6">
                <input id="item_name" type="text" class="validate" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Decisor Surname</label>
              </div>
              <div class="row"></div>
              <div class="row"><center><span class = "grey-text text-lighten-1">This fields must have no spaces</span></center></div>
            </div>
            <div class="row">
            <div class="col s6">
              <h6><span>Rate Item</span></h6>
              </div>
            
              <div class="col s6">
                 <select class="browser-default" required="">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="(0,0,4)">Normal</option>
                  <option value="(2,5,8)">Important</option>
                  <option value="(5,8,10)">Very Important</option>
                  <option value="(8,10,10)">Most Important</option>
                </select>
                <div class="row">
                <center><label>value</label></center>
                </div>
              </div></div>          
            <div class="row"></div>
            <div class="row"></div>
           <div class="row"></div>
            <div class="row">
              <center><button onClick = "toast4()" class="btn waves-effect waves-light teal darken-1  modal-action modal-close" type="submit" value="Submit" name="action">Add
            <i class="material-icons right">send</i>
            </button></center>
            </div>
           </form>
           <div class="row"></div>
           <div class="row"></div>
           <div class="row"></div>
           
    </div>
</div>
<div id="editProblemModal" class="modal">
    <div class="modal-content">
      <center><h4>Edit Problem Name</h4></center>
      <form class="col s12" name = "EditProblemForm">
           <div class="row">
              <div class="input-field col s12">
                <input id="item_name" type="text" class="validate" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Change Problem Name</label>
              </div>
              <div class="row"></div>
              <div class="row"><center><span class = "grey-text text-lighten-1">This field must have no spaces</span></center></div></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
           <div class="row"></div>
           <div class="row"></div>
            <div class="row">
              <center><button class="btn waves-effect waves-light red" type="submit" value="Submit" name="action">Change
            <i class="material-icons right">send</i>
            </button></center>
            </div>
           </form>
           <div class="row"></div>
           <div class="row"></div>
           <div class="row"></div>
           
    </div>
</div>
<div id="editDecisorModal" class="modal">
    <div class="modal-content">
      <center><h4>Edit Decisor</h4></center>
      <form class="col s12" name = "EditDecisorForm" ng-controller = "EditDecisor as ed" ng-submit ="ed.editD()">
           <div class="row">
              <div class="input-field col s6">
                <input id="item_name" type="text" class="validate" ng-model = "ed.review.name" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Change Decisor Name</label>
              </div>
              <div class="input-field col s6">
                <input id="item_name" type="text" class="validate" ng-model = "ed.review.surname" pattern="[a-zA-Z0-9]+" required>
                <label for="first_name" data-error="wrong" data-success="right">Change Decisor Surname</label>
              </div>
              <div class="row"></div>
              <div class="row"><center><span class = "grey-text text-lighten-1">This fields must have no spaces</span></center></div></div>
            <div class="row">
            <div class="col s6">
              <h6><span>Rate Item</span></h6>
              </div>
            
              <div class="col s6">
                 <select class="browser-default" ng-model="ed.review.rating" required="">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="(0,0,4)">Normal</option>
                  <option value="(2,5,8)">Important</option>
                  <option value="(5,8,10)">Very Important</option>
                  <option value="(8,10,10)">Most Important</option>
                </select>
                <div class="row">
                <center><label>Value {{ed.review.rating}} </label></center>
                </div>
              </div></div>          
            <div class="row"></div>
            <div class="row"></div>
           <div class="row"></div>
            <div class="row">
              <center><button class="btn waves-effect waves-light red" type="submit" value="Submit" name="action">Change
            <i class="material-icons right">send</i>
            </button></center>
            </div>
           </form>
           <div class="row"></div>
           <div class="row"></div>
           <div class="row"></div>
           
    </div>
</div>

<div id="eraseDecisorModal" class="modal">
                          <div class="modal-content">
                            <h4><center>Delete Decisor {{decisor.name +" "+decisor.surname}} ?</center></h4>
                            <div class="row">
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row">
                            <p><center>Classifications, data and impact on the final result will be affected</center></p></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <div class="row">
                            <center><button class="btn btn-large waves-effect red waves-light" type="submit" name="action">
                          <i class="material-icons">delete</i></div>
                        </button></center>
                          </div>
                        </div>

  
  
  
  
</body>
<script type="text/javascript" src = "/js/functions.js"></script>
<script type="text/javascript" src = "/js/angular.min.js"></script>
<script type="text/javascript" src = "/js/angular-resource.js"></script>
<script type="text/javascript" src = "/js/bootbox.min.js"></script>
<script type="text/javascript" src ="/js/jquery.min.js"></script>
<script type="text/javascript" src = "/js/method.js"></script>
<script type="text/javascript" src = "/js/modals.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
</html>